.preview{
  height: 700px;
  background-color: #EEEFF1;
  padding-top: 57px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .preview{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 375px) {
  .preview{
    padding-top: 20px;
  }
}