.line-skill{
  display: flex;
  margin-top: 20px;
  width: 300px;
}
.line-success{
  background-color: #34547A;
  width: 70%;
  height: 4px;
}
.Full-Line-success{
  background-color: #C4C4C4;
  width: 30%;
  height: 4px;
}
.row{
  margin-top: 30px;

}

@media (max-width: 375px) {

}