.item-works{
  display: flex;
  align-items: center;
  color: white;
  & div{
    margin-left: 20px;
  }
}

@media (max-width: 375px) {
  .item-works{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & div{
      margin-top: 10px;
    }
  }
}